@charset "UTF-8";

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: gray;
}

main {
    background-color: white;
    text-align: center;
    width: 50%;
    height: 50vh;
    position: relative;
    top: 15vh;
    left: 30vw;
    border-radius: 10px;
}

main > h2 {
    padding: 30px;
}

main > p > #valor {
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}

main > p > #parcela {
    border-radius: 5px;
}

main > p > #gerar {
    position: relative;
    top: 18vh;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    cursor: pointer;
}

main > p > #parcela {
    margin-top: 5px;
}