.btn-cadastrar {
    background-color: #686666;
    border-radius: 25px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

h1 {
    font-size: 65px;
    font-weight: 100;
}
    
h2 {
    font-size: 30px;
    font-weight: 100;
}

h3 {
    font-size: 30px;
    font-weight: 100;
    padding-top: 70px;
    padding-bottom: 50px;
}

h5 {
    font-size: 30px;
    font-weight: 100;
    padding-top: 43px;
}

h6 {
    font-size: 24px;
    font-weight: 100;
    padding-top: 80px;
    padding-bottom: 60px;
    }
    
header {
    padding-top: 100px;
    padding-bottom: 67px;
    background: rgb(0,0,0);
    background: rgb(0,0,0); background: linear-gradient(180deg, rgba(0,0,0,1) 12%, rgba(0,0,0,1) 17%, rgba(0,0,0,1) 21%, rgba(0,0,0,1) 29%, rgba(33,31,31,1) 34%, rgba(68,66,66,1) 38%, rgba(64,62,62,1) 43%, rgba(63,61,61,1) 46%, rgba(65,63,63,1) 47%, rgba(68,66,66,1) 50%, rgba(61,59,59,1) 51%, rgba(0,0,0,1) 57%, rgba(0,0,0,1) 65%, rgba(0,0,0,1) 66%);
    color: white;
    text-align: center;
}
    
/* Classe */

.estilo1 {
    width: 100%;
    font-size: 15px;
    margin: auto;
    display: flex;
    border: 0px solid black;
    text-align: center;
    justify-content: center;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 15%, rgba(55,53,53,1) 29%, rgba(72,69,69,1) 35%, rgba(76,73,73,1) 41%, rgba(76,73,73,1) 51%, rgba(72,69,69,1) 57%, rgba(0,0,0,1) 77%);
    color: white;
    padding-bottom: 150px;
    padding-top: 30px;
    font-size: 20px;
}

.menu {
    margin: auto;
    padding: 20px;
    background-color: #080808;
    background-image: linear-gradient( to right,#080808,#373636, #686666,#373636, #4e4b4b, #373636, #4e4b4b, #373636, #4e4b4b, #080808 );
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-size: 20px;
}

    .menu a {
    padding: 15px;
    color: white;
    text-decoration: none;
    transition: 0.3s all;
}

.menu a:active {
    color: black;
    transition: 0.3s all;
}

.menu a:visited {
    color: white;
    transition: 0.3s all;
}

.menu a:hover {
    padding: 15px;
    color: black;
    transition: 0.4s all;
    background-color: #fff;
    border-radius: 3px;
}

.img-card {
    margin: auto;
    width: 100%;
    height: 500px;
    background-image: url('./card3.png');
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    color: white;    
    padding-top: 10px;
}

.img-card > h2 {
    padding-top: 150px;
    font-weight: 100;
}

.sobre-o-studentcard-1{
    padding-bottom: 20px;
    padding-top: 1px;
}

.sobre-o-studentcard-2{
    font-size: 70px;
    font-weight: 100;
    padding-top: 60px;
    padding-bottom: 25px;
}

#acessar {
    width: 100%;
    text-align: center;
}