.form--section {
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.icon-1 {
    background-color: var(--color-3);
    background-image: url(../img/icon-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    padding: 3em;
}

.form {
    background-color: var(--color-3);
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    padding: 1em;
    row-gap: 1em;
    width: 100%;
}

#form--checkbox {
    font-size: 13px;
}

#form--button {
    transition: 0.5s;
}

.form--link {
    display: flex;
    gap: 0.3em;
}

.form--link > span {
    font-size: 13px;
}

.form--link > a {
    color: var(--color-2);
    font-size: 13px;
    transition: 0.5s;
}

.form--link > a:hover {
    color: var(--color-1);
}

.form--link > a:active {
    color: var(--color-2);
}


/*Responsividade*/
@media (max-width: 800px) {
    .form-div > main {
        width: 90%;
        transition: 0.5s ease;
        .icon-1	{
            width: 30px;
            height: 30px;
            background-size: 60px;
            border-radius: 50%;
            padding: 2em;
            
        }
    }
    
}
@media (min-width: 800px) {
    .form-div > main {
        transition: 0.5s ease;
    }
}